doctype html
html
  head
    title Book Created
  body
    h1 New Book Added
    p Title: #{title}
    p Author: #{author}
    p Year Published: #{year}
    p A new book has been successfully added to the system.
